*{
    margin:0;
    padding:0;
    /* font-family: 'Ubuntu Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h1{
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}
header{
    position: sticky;
    top: 0;
    
    background-color: white;
}
body{
    background-color: black;
}
@media screen and (min-width:1244px){
.navbar{
    display: flex;
    align-items: center;
    background-color: #5ce1e6;
}
.navbar2{
    display: none;
}

.left-nav{
    display: flex;
    order: 1;
    width: 59%;
    background-color: #5ce1e6;
}
.right-nav{
    display: flex;
    order: 2;
    background-color: #5ce1e6;
    width: 41%;
}

.nav-item{
    display: flex;
    padding: 2em;
    /* width: 5em; */
    height: 0.6em;
    /* margin: auto; */
    align-items: center;
    background-color: #5ce1e6;
    color: black;
}

.nav-item a{
    text-align: center;
    margin: auto;
    color: black;
}


a{
    text-decoration: none;
    color: black;
}



.search{
    display: flex;
    width: 25em;
    border: 1px solid #5ce1e6;
    padding: 0.2em;
    margin-left: 2em;
    align-items: center;
    background-color: white;
    
}

#search-bar{
    width: 21em;
    border: none;
    outline: none;
    padding: 0.5em;
    /* margin: auto; */
    background-color: white;
    color: black;
}


.search-btn{
    padding: 0.5em;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons{
    margin-top: 12em;
    margin-bottom: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#but1,#but2,#but3{
    margin: auto;
    padding: 1em;
    /* width: 10em; */
    width: 33.33%;
    outline: none;
    border-radius: 0.2em;
    background-color: #e9163f ;
    color: white;
}


#signup1,#signup2,#signup3{
    display: none;
    text-align: center;
    align-items:center;
    padding: 1em;
    width: 10em;
    border-radius: 0.2em;
    outline: none;
    background-color: #e9163f;
    color: white;
    cursor: pointer;
    margin: auto;
}



.logo-2{
    margin: auto;
    width: 10em;
}
.logo{
    margin: auto;
    width: 4.5em;
}
.logo-cont{
    padding: 0em;
}


.startup-window,.mentor-window,.student-window,.info-cont{
    display: none;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    justify-content: center;
    /* overflow: hidden; */
    margin-top: 8vmin;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #dbca69; */
    /* box-shadow: 0 0 1em black; */
    /* border-radius: 7em; */
    /* border-color: honeydew; */
    /* float: left; */
    width: 90%;
    /* aspect-ratio: 3/4; */
}


.signup-left,.signup-right, .left-info-cont,.right-info-cont{
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: auto;
}


.signup-window a{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.signup-items, .info-box{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 1vh auto;
    justify-content: center;
    /* padding: 0.5em; */
}

#startup-name,#founder-name,#fname,#lname{
    /* border-radius: 1.2em; */
    border: 1px solid;
    padding: 1em;
    width: 20em;
    outline: none;
    margin: auto;
}

/* .hide{
    
} */


#email,#signup-password,#phone,#s_address,#state,#district,#pincode,#country,#startup-logo,#desc,#tag,#link,#bdate,#mentor-pic,#gender,#education,#student-pic,#bio,#resume{
    /* border-radius: 1.2em; */
    border: 1px solid;
    padding: 1em;
    width: 20em;
    outline: none;
    margin: auto;
    background-color: white;
}
#resume{
    padding: 0.7em;
    width: 20.5em;
}
#gender{
    width: 22.2em;
}
#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10,#t11,#t12{
    font-size: 1em;
    color: white;
    padding: 0.2em;
}
.tags{
    flex-direction: column;
}
.tag-items{
    display: block;
    padding: 0.5em;
}

#confirm-password{
    display: flex;
    flex-direction: row;
    /* border-radius: 1.2em; */
    padding: 1em;
    width: 20em;
    border: 1px solid;
    justify-content: left;
    background-color: white;
    /* outline: none; */
    /* margin: ; */
}
#confirm{
    /* padding: 1em; */
    width: 16em;
    outline: none;
    border: white;
}

#alert{
    display: none;
    height: 1em;
}

#check-add{
    padding: 1em;
    margin: 1vh auto;
}



.footer{
    display: flex;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    /* background-color: cadetblue; */
    background-color: #5ce1e6;
    color: black;
}
.foot-items{
    margin: 20px auto;
    width: 400px;
    color: black;
}
.foot-items h2{
    color:black;
    text-align: left;
    border-bottom: 1px solid;
    padding: 2px;
    color: black;
}
.foot-items ul{
    display: block;
}
.foot-items li{
    text-align: left;
    margin: 5px 0px;
}
}

@media screen and (max-width:1244px){
    .navbar{
        display: none;
        align-items: center;
    }
    
    .navbar2{
        display: flex;
        align-items: center;
        overflow: auto;
    }
    
    .left-nav{
        display: flex;
        order: 1;
        width: 40%;
        overflow: auto;
    }
    .right-nav{
        display: flex;
        order: 2;
        width: 60%;
        overflow: auto;
    }
    .nav-item{
        display: flex;
        padding: 2em;
        /* width: 5em; */
        height: 0.6em;
        /* margin: auto; */
        align-items: center;
        overflow: auto;
    }
    
    .nav-item a{
        text-align: center;
        margin: auto;
    }
    
    .nav-item a:hover{
        background-color: darksalmon;
        cursor: pointer;
    }
    
    .nav-item:hover{
        background-color: darksalmon;
        cursor: pointer;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    .dropdown{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        width: 16em;
        height: 80vh;
        border: 2px solid white;
        background-color:white;
        box-sizing: border-box;
        animation-name: slide;
        animation-duration: 0.5s;
        left: 0vmin;
    }

    @keyframes slide {
        from {left: -50vmin;}
        to {left:0vmin;}
    }

    .drop-icon{
        display: flex;
        width: 3em;
        aspect-ratio: 1;
        /* height: px; */
        justify-content: center;
        flex-direction: column;
        margin-left: 0.2em;
    }

    .bar{
        width: 30px;
        height:2px;
        background-color: black;
        margin: 3.5px;
    }
    
    
    .search-item:hover{
        background-color: white;
    }
    
    .search{
        display: flex;
        width: 25em;
        border: 1px solid black;
        padding: 0.2em;
        margin-left: 2em;
        align-items: center;
        overflow: auto;
    }
    
    #search-bar{
        width: 21em;
        border: none;
        outline: none;
        padding: 0.5em;
        /* margin: auto; */
    }
    
    
    .search-btn{
        padding: 0.5em;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    
    #signup{
        padding: 1em;
        border-radius: 0.2em;
        outline: none;
        background-color: aquamarine;
        cursor: pointer;
        margin: auto;
    }
    
    
    .logo-2{
        margin: auto;
        width: 12em;
    }
    
    
    .signup-window,.info-cont{
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        flex-direction: row;
        justify-content: center;
        /* overflow: hidden; */
        margin-top: 8vmin;
        margin-left: auto;
        margin-right: auto;
        /* background-color: #dbca69; */
        /* box-shadow: 0 0 1em black; */
        /* border-radius: 7em; */
        /* border-color: honeydew; */
        /* float: left; */
        width: 90%;
        /* aspect-ratio: 3/4; */
    }
    
    
    .signup-left,.signup-right, .left-info-cont,.right-info-cont{
        display: inline-block;
        padding-left: 2vw;
        padding-right: 2vw;
        margin: auto;
    }
    
    
    .signup-window a{
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
    
    .signup-items, .info-box{
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        margin: 1vh auto;
        justify-content: center;
        /* padding: 0.5em; */
    }
    
    #first-name,#last-name{
        /* border-radius: 1.2em; */
        border: 1px solid;
        padding: 1em;
        width: 15em;
        outline: none;
        margin: auto;
    }
    
    
    #signup-email,#signup-password,#phone,#s_address,#b_address,#state,#b_state,#b_district,#b_pincode,#district,#pincode,#country{
        /* border-radius: 1.2em; */
        border: 1px solid;
        padding: 1em;
        width: 15em;
        outline: none;
        margin: auto;
    }
    
    #confirm-password{
        display: flex;
        flex-direction: row;
        /* border-radius: 1.2em; */
        padding: 1em;
        width: 15em;
        border: 1px solid;
        justify-content: left;
        /* outline: none; */
        /* margin: ; */
    }
    #confirm{
        /* padding: 1em; */
        width: 11em;
        outline: none;
        border: white;
    }
    
    #alert{
        display: none;
        height: 1em;
    }
    
    #check-add{
        padding: 1em;
        margin: 1vh auto;
    }
    
    
    
    .footer{
        display: flex;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 200px;
        /* background-color: cadetblue; */
        background-color: #99ccff;
    }
    .foot-items{
        margin: 20px auto;
        width: 400px;
    }
    .foot-items h2{
        color:black;
        text-align: left;
        border-bottom: 1px solid;
        padding: 2px;
    }
    .foot-items ul{
        display: block;
    }
    .foot-items li{
        text-align: left;
        margin: 5px 0px;
    }
    }